<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestPro2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestPro2.Properties.Settings>
            <setting name="jsonDir" serializeAs="String">
                <value>C:\\Users\\chb63\\Desktop\\אופיר\\</value>
            </setting>
            <setting name="dbCode" serializeAs="String">
                <value>0101</value>
            </setting>
            <setting name="dbMachineE" serializeAs="String">
                <value>"\\\\tigger\\ophir\\Optics\\mfg\\coatings\\Machines\\E\\in\\PCB32\\rec"</value>
            </setting>
            <setting name="dbMachineN" serializeAs="String">
                <value>"\\\\tigger\\ophir\\Optics\\mfg\\coatings\\Machines\\N\\IN\\rec"</value>
            </setting>
            <setting name="dbMachineP" serializeAs="String">
                <value>"\\\\tigger\\ophir\\Optics\\mfg\\coatings\\Machines\\P\\IN\\rec"</value>
            </setting>
            <setting name="dbMachineX" serializeAs="String">
                <value>"\\\\tigger\\ophir\\Optics\\mfg\\coatings\\Machines\\X\\IN\\REC"</value>
            </setting>
        </TestPro2.Properties.Settings>
    </userSettings>
</configuration>